<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Event Knowledge Graph V0.1</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flat-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/loading0.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">

    <style>
        html,body{
            margin:0;
            height:100%;
            font-size: 16px;
        }
        body{
            text-align: center;
            font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
            background-color: #bbbbbb;
            color:#060A0E;
        }
        .card{
            margin: 2em auto;;
            background-color: white;
            border-radius: 0.5em;
        }
        .echartsTooltipP{
            font-size:16px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/flat-ui.min.js"></script>
    <script src="/static/js/application.js"></script>
    
    <style>
        .my_nav{
            border-radius: 0;
            margin: 0;
	    position: relative;
	    z-index: 100000;
        }
    </style>

    <nav class="my_nav navbar navbar-inverse navbar-lg " role="navigation">
        <div class="navbar-header">
            <div class="navbar-brand title" style="font-size: 1.2em">Event KG</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Graph/">图谱</a></li>
            <li><a href="/Extract/">抽取</a></li>
            <li><a href="/Common/">共性</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="form-group" >
                <div class="input-group" style="width: 300px">
                    <input class="form-control" id="main_input" type="text" placeholder="输入待查询的问题" onkeydown="if(event.keyCode===13) jump()">
                    <span class="input-group-btn" style="text-align: left">
                        <button type="button" class="btn" onclick="jump()"><span class="iconfont icon-sousuo" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
            <button class="btn btn-default btn-sm" type="button" onclick="$('#sampleQuestionModal').modal();">示例</button>
        </div>
    </nav>
    <!--示例问题模态框-->
    <div class="modal fade" id="sampleQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <!--<h3 class="modal-title" id="entitySelectModalTitle" >示例问题</h4>-->
                </div>
                <div class="modal-body">
                    <p><a href="#" class="sampleQuestionItem">T_发现</a></p>
                    <p><a href="#" class="sampleQuestionItem">T_发现-尸体</a></p>
                    <p><a href="#" class="sampleQuestionItem">E_李文星</a></p>
                    <p><a href="#" class="sampleQuestionItem">E_魏则西</a></p>
                    <p><a href="#" class="sampleQuestionItem">ET_李文星</a></p>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(".navbar-nav li [href='"+window.location.pathname+"']").parent().addClass("active");

        var main_input = $("#main_input");

        $(".sampleQuestionItem").each(function(){
            $(this).click(function(){
                $("#sampleQuestionModal").modal("hide");
                main_input.val($(this).text());
                jump();
            });
        });

        function jump(){
            var question = $.trim(main_input.val());
            if (question !== ""){
                if (window.location.pathname==="/"){
                    getData(question);
                }
                else{
                    window.location.href = "/?q="+question;
                }
            }
            main_input.val("");
        }

    </script>

    

    <style>

        th{
            text-align: center;
        }
        a{
            cursor: pointer;
        }
        p{
            font-size: 1em;
            font-weight: bold;
            padding: 1em 0;
        }
    </style>

    <!--图谱-->
    <div class="card" id='card0' style="width: 94%;margin-left: 3%">
        <div id="panel" style="width: 100%;height: 900px"></div>
    </div>

    <!--交互-->
    <!---
    <div class="row card" style="width: 80%">
        <div class="col-md-4">
            <p >选择您想要查询的内容</p>
            <p>
                <a onclick="question_demo(1)">阿里集团现在有哪些职位正在招人？</a><br>
                <a onclick="question_demo(2)">投了这个职位的求职者还投了哪些其他公司？</a><br>
                <a onclick="question_demo(3)">月薪大于30000的职位有哪些？</a>
            </p>
        </div>
        <div class="col-md-4">
            <p >选择您需要分析的问题</p>
            <p>
                <a onclick="question_demo(4)">对于产品经理这个职位，哪个公司条件最好？</a><br>
                <a onclick="question_demo(5)">在北京，网络工程师的平均工资大概是多少？</a><br>
                <a onclick="question_demo(6)">目前前端开发工程师的普遍技术要求有哪些？</a><br>
            </p>
        </div>
        <div class="col-md-4">
            <p >选择您需要的推荐需求</p>
            <p>
                <a onclick="question_demo(7)">根据我以往的工作经历，有哪些职位可以推荐给我？</a><br>
                <a onclick="question_demo(8)">按照我们公司算法工程师这个职位的技术要求，有哪些推荐的求职者？</a><br>
            </p>
        </div>
    </div>
    -->

    <div style="margin-bottom: 50em"></div>

    <!--实体信息模态框-->
    <div class="modal fade" id="entityInfoModal" tabindex="-1" role="dialog" aria-labelledby="entityInfoModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <h4 class="modal-title" id="entityInfoModalTitle">详细信息</h4>
                </div>
                <div class="modal-body">
                    <img id="entityInfoModalImage" style="padding:1em;width:180px;"/>
                    <table class="table">
                        <tbody id="entityInfoModalTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script>

        var all_data = undefined;

        $.ajaxSetup({
            error: function (e) {
                console.log(e);
                alert("没找到JSON文件");
                return false;
            }
        });
        /*
        $.getJSON('/static/json/demo.json', function(result){
            all_data = result;
            result['title'] = 'DEMO图谱全数据概览';
            result['lighting'] = [];
            paint_graph(result);
        });
        */
         $.getJSON("{% url 'find_common_url' %}", function(result){     //$.ajax的get请求的一个上层封装
            console.log(result);
            /*
            if(result.status == 0){
                alert("查询格式有误");
                return;
            }
            */
            paint_graph(result);
            
        });

        //示范问题
        /*
        function question_demo(index){
            var result = all_data;
            switch(index) {
                case 1:
                  result['title'] = '为您标出阿里集团目前提供的职位';
                  result['lighting'] = [1,12,13,14,15,16,17,18,19];
                  break;
                case 2:
                  result['title'] = '为您标出王小明投出简历的其他公司';
                  result['lighting'] = [1,15,49,48,22,2,6,0];
                  break;
                case 3:
                  result['title'] = '为您标出月薪大于30000的职位';
                  result['lighting'] = [13,25,27,28];
                  break;
                case 4:
                  result['title'] = '共有 5 个客户经理职位，经比较，百度公司提供的职位工资最高，而腾讯公司提供的福利待遇最好';
                  result['lighting'] = [9,15,26,22,25];
                  break;
                case 5:
                  result['title'] = '经统计，北京市网络工程师的平均工资大约在15000-18000元左右';
                  result['lighting'] = [10,41,33,16,17,12];
                  break;
                case 6:
                  result['title'] = '经分析，目前前端开发工程师的普遍技术要求包括 HTML5 与 nodeJS 等';
                  result['lighting'] = [18,19];
                  break;
                case 7:
                  result['title'] = '根据您以往的工作经历，为您推荐以下相似岗位';
                  result['lighting'] = [52,53,18,19,8,4,33];
                  break;
                case 8:
                  result['title'] = '根据此职位的技术要求，为您推荐以下求职者';
                  result['lighting'] = [34,50,51,52,53];
                  break;
                default:
                  break;
            }
            paint_graph(result);
        }
        */

        var colorPalette = ['#E01F54','#001852','#e05038','#CD8500','#009966',
            '#00868B','#303030','#e6af4b','#89bdd3','#2e4783',
            '#82b6e9','#ff6347','#a092f1','#0a915d','#7d4627',
            '#6699FF','#ff6666','#3cb371','#d5b158','#38b6b6'
        ];
        var nodeSize = 35;
        var fontSize = 15;

      
        //绘图
        function paint_graph(result){
            $('#panel').remove();
            $('#card0').append("<div id='panel' style='width: 100%;height: 900px'></div>");
            var myChart = null;
            //对mychart的初始化
            if (myChart)
                myChart.clear();
            else {
                myChart = echarts.init(document.getElementById('panel'));
            }
            
            //刷新绘图页面
            var categories = [];
            var nodeMap = {};		//触发词名字与node对象字典
            var nodeList = [];
            var edgeMaxW = 0;	//边的权重最大值
            var edgeMinW = 0;	//边的权重最小值

            var fontSize = 14;
                
            //设置类别
            categories[0] = {
                name:'Start', 
                itemStyle: {
                    color:'#36871d'
                }
            };
                
            categories[1] = {
                name:'Middle',
                itemStyle: {
                    color:'#105498'
                }
            };
                
            categories[2] = {
                name:'End',
                itemStyle: {
                    //color:'#bda29a'
                    color:'#c1291f'
                }
            };
                
            //分拣出触发词与事件信息
            result.nodes.forEach(function (node) {
                node.isSource = false;
                node.isTarget = false;
                nodeList.push(node);
                nodeMap[node.ID] = node;
            });

            //寻找边的权重最大值与最小值, 并设置节点的类型(source、middle、target)
            result.edges.forEach(function (edge){
                nodeMap[edge.sourceID].isSource = true;		
                nodeMap[edge.targetID].isTarget = true;
            
                if(edgeMaxW == 0 && edgeMinW == 0){
                    edgeMaxW = edge.weight;
                    edgeMinW = edge.weight;
                }else if(edge.weight > edgeMaxW){
                    edgeMaxW = edge.weight;
                }else if(edge.weight < edgeMinW){
                    edgeMinW = edge.weight;
                }
                
                //设置echarts中使用到的edge属性
                edge.label = {
                    formatter: "weight: " + edge.weight
                };

                /*
                    Echarts的links的source target可以为边的源节点名称的字符串，也支持使用数字表示源节点的索引，所以创建links链接数据节点时source target使用字符串就是使用data节点的id属性指定的值，使用int就是使用data数据的在数组中的索引位置，而不是id值。
                */
                edge.source = "" + edge.sourceID;
                edge.target = "" + edge.targetID;
                edge.lineStyle = {
                    normal: {}
                };
            });
                
            //对触发词节点相关属性进行设置
            nodeList.forEach(function (node) {
                //区分起始节点、中间节点和结束节点
                if(node.isSource && node.isTarget){
                    node.category = 1;	//中间节点
                }else if(node.isSource){
                    node.category = 0;  //起始节点
                }else if(node.isTarget){
                    node.category = 2;  //结束节点
                }else{
                    //当前应该不存在孤立点
                    console.log("Warning: " + node.name + " is neither a source nor a target");
                }
                
                node.id = "" + node.ID
                if(node.TYPE == "EVENT"){
                    node.name = node.title
                }else{
                    node.name = node.name
                }
            
                //node.itemStyle = null;	
                node.symbolSize = 40;	//触发词大小
                //node.category = 0;
                node.label = {
                    show: true
                };
            });
                
            //根据边的权重设置颜色
            result.edges.forEach(function (edge){
                var lineWidth;
                var colorWeight;
                if(edgeMaxW - edgeMinW == 0){
                    colorWeight = 150;
                }else{
                    colorWeight = 255 - (edge.weight - edgeMinW)/(edgeMaxW - edgeMinW) * 255;	 //映射到(0,255)
                }
                
                //var colorWeight = (edge.weight - edgeMinW)/(edgeMaxW - edgeMinW) * 0.5 + 0.5;	 //映射到(0.5,1)
                var lineColor = 'rgb(0,' + colorWeight + ',255)';
                //var lineColor = 'rgba(0, 191, 255, ' + colorWeight + ')';
                
                edge.lineStyle = {
                    width: 1,
                    //width: lineWidth,
                    color: lineColor,
                    //type: 'dashed'
                    type: 'solid'
                }
            });
                
            //ECharts配置项信息
            option = {
                title: {
                    text: result.answer,
                    top: '1%',
                    left: '1%',
                    textStyle:{
                        color:"#333333",
                        fontSize: fontSize*1.8,
                        fontWeight:'bolder'
                    },
                    subtext: '图中共有 '+result.nodes.length+' 个节点以及 '+result.edges.length+' 条关系',
                    subtextStyle:{
                        color:"#333333",
                        fontSize: fontSize,
                        fontWeight:'bold'
                    }
                },
                tooltip:{
                    //triggerOn: 'click',
                    confine: true,	//是否将tooltip框限制在图表的区域内。
                    enterable: true, //鼠标是否可以进入悬浮层
                    formatter: function(params, ticket, callback){
                        //console.log(params);
                        if(params.dataType == 'node'){	//触发词对应的事件描述信息
                            var nodeInfo = params.data;
                            var showHtm = '';
                            if(nodeInfo.TYPE == 'EVENT'){
                                showHtm += '<p class="echartsTooltipP" align="left">Event: ' + nodeInfo.title + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Date: ' + nodeInfo.time + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Person: ' + nodeInfo.persons + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Location: ' + nodeInfo.locations + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Organization: ' + nodeInfo.organizations + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Keywords: ' + nodeInfo.keywords + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left">Trigger: ' + nodeInfo.triggers + '</p>';
                            }else {
                                showHtm += '<p class="echartsTooltipP" align="left"> Name: ' + nodeInfo.name + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left"> Verb: ' + nodeInfo.verb + '</p>';
                                showHtm += '<p class="echartsTooltipP" align="left"> Noun: ' + nodeInfo.noun + '</p>';
                                showHtm += '<br>';
                                nodeInfo.events.forEach(function(e){
                                    showHtm += '<p class="echartsTooltipP" align="left">Event: ' + e.title + '</p>';
                                    showHtm += '<p class="echartsTooltipP" align="left">Theme: ' + e.theme + '</p>';
                                    showHtm += '<br>';
                                });

                                
                            }
                            return showHtm;
                        }else if(params.dataType == 'edge'){	//连接边对应的事件描述信息
                            var showHtm = '';
                            showHtm += params.data.source + ' -> ' + params.data.target + '<br>';
                            showHtm += 'Weight: ' + params.data.weight + '<br>';
                            return showHtm;
                        }
                    }
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                legend: [{
                    // selectedMode: 'single',
                    show: true,
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: categories.map(function (a) {
                        return a.name;
                    }),
                    
                    selected:{
                        "Trigger-Source": true,
                        "Trigger-Middle": true,
                        "Trigger-End": true
                    }
                    
                }],
                
                /*
                //视觉映射组件
                visualMap:{
                    //left: 'right',
                    right: '2.5%',
                    bottom: '10%',
                    itemHeight: 120,
                    text: ['Edge Weight'],
                    textGap: 30,
                    hoverLink: false,
                    seriesIndex: result.edges,
                    inRange: {
                        color: ['rgb(0,255,255)', 'rgb(0,0,255)']
                    },
                    outOfRange: {
                        color: ['rgba(255,255,255,.2)']
                    }
                    
                },
                */
                animationDuration: 1500,
                animationEasingUpdate: 'quinticInOut',
                series : [
                    {
                        name: 'Event Graph',
                        type: 'graph',
                        layout: 'force',
                        force:{
                            repulsion: 3000,		//斥力因子
                            edgeLength: [0.1,100],
                            layoutAnimation: true	//布局过程动画是否开启
                        },
                        draggable: true,	//节点是否可拖拽
                        data: result.nodes,
                        links: result.edges,
                        categories: categories,
                        roam: true,
                        focusNodeAdjacency: true,
                        edgeSymbol:['none','arrow'],
                        edgeSymbolSize: 20,
                        //left: '10%',
                        //top: '10%',
                        //right: '10%',
                        //bottom: '10%',
                        itemStyle: {
                            normal: {
                                borderColor: '#fff',
                                borderWidth: 1,
                                shadowBlur: 10,
                                shadowColor: 'rgba(0, 0, 0, 0.3)'
                            }
                        },
                        label: {
                            normal: {
                                position: 'right',
                                formatter: '{b}',
                                fontSize: 18
                            }
                        },
                        lineStyle: {
                            normal: {
                                curveness: 0.3,
                            }
                        },
                        emphasis: {
                            lineStyle:{
                                width: 10
                                //type: 'solid'
                            },
                            edgeLabel:{
                                show: true
                            },
                            label:{
                                show: true
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }
    

        //弹出模态框事件
        function entity_info_show(id){
            var title = $("#entityInfoModalTitle");
            var table = $("#entityInfoModalTable");
            var image = $("#entityInfoModalImage");
            var node = all_data['nodes'][id];
            if (all_data !== undefined){
                title.text(node['name']);
                if (node['category'] === '人物'){
                    if (node['sublabel'][0] === '求职者')
                        image.attr('src','/static/img/demo/pic1.png');
                    else if (node['sublabel'][0] === '猎头')
                        image.attr('src','/static/img/demo/pic2.png');
                    else if (node['sublabel'][0] === '领导')
                        image.attr('src','/static/img/demo/pic3.png');
                }
                else if (node['category'] === '公司')
                    image.attr('src','/static/img/demo/pic6.png');
                else if (node['category'] === '职位')
                    image.attr('src','/static/img/demo/pic5.png');
                else if (node['category'] === '简历')
                    image.attr('src','/static/img/demo/pic4.png');
                $('#entityInfoModalTable tr').remove();
                for (var key in node){
                    var value = "";
                    if (key === 'name') continue;
                    if (key === 'sublabel'){
                        for (var index in node[key]){
                            if (index > 0) value += " --><br>";
                            value += node[key][index];
                        }
                    }
                    else if (node[key] instanceof Array){
                        for (index in node[key]){
                            var subtable = "";
                            for (var subkey in node[key][index]){
                                subtable += "<tr><th>"+subkey+"</th><td>"+node[key][index][subkey]+"</td></tr>";
                            }
                            value += "<table class='table table-bordered'><tbody>"+subtable+"</tbody></table>";
                        }
                    }else if (node[key] instanceof Object){
                        subtable = "";
                        for (subkey in node[key]){
                            subtable += "<tr><th>"+subkey+"</th><td>"+node[key][subkey]+"</td></tr>";
                        }
                        value = "<table class='table table-bordered'><tbody>"+subtable+"</tbody></table>";
                    }
                    else{
                        value = node[key];
                    }
                    table.append("<tr><th>"+key+"</th><td>"+value+"</td></tr>");
                }
            }
            $('#entityInfoModal').modal();
        }

    </script>




</body>
</html>
